@model IEnumerable<ActivityListViewModel>

    <div class="accordion accordion-flush" id="accordionFlushExample">
            @{int i = 1;}
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@i" aria-expanded="true" aria-controls="flush-collapseOne">
 COURSE E-LEARNING         </button>
    </h2>
    </div>
    <div id="flush-@i" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> 
<div id="ass-row-headers" class="row">
    <div class="col-sm-3">
        @Html.DisplayNameFor(model => model.ActivityName)
    </div>
    <div class="col-sm-3">
        @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="col-sm-3">
        @Html.DisplayNameFor(model => model.EndDate)
    </div>
  
    <div class="col-sm-2">
        @*Nada*@
    </div>
</div>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-3">
            <a asp-controller="Activities" asp-action="Details" asp-route-id="@item.Id">@item.ActivityName</a>
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(modelItem => item.StartDate)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(modelItem => item.EndDate)
        </div>
      
        <div class="col-sm-2 ass-col-icons">
            @*<a asp-controller="Activities" asp-action="Edit" asp-route-id="@item.Id"><img src="~/icons/edit.svg" /></a>*@
            @*<a asp-controller="Activities" asp-action="Details" asp-route-id="@item.Id"><img src="~/icons/info.svg"/></a>*@
            @*<a asp-controller="Activities" asp-action="Delete" asp-route-id="@item.Id"><img src="~/icons/delete.svg" /></a>*@
        </div>
    </div>
}

</div>
</div>
</div>