@model IEnumerable<ModuleViewModel>

@foreach (var item in Model)
{

                
 <div class="row">
        <div class="col-sm-10">
            <a asp-action="GetTeacherActivityAjax" asp-route-id="@item.Id"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-update="div#cont-modules-and-activities"
               data-ajax-mode="replace-with">
                @if (item.IsCurrentModule)
                {
                    <div type="button" class="btn btn-success btn-module">
                        @item.Name
                    </div>
                }
                else
                {
                    <div type="button" class="btn btn-dark btn-module">
                        @item.Name
                    </div>
                }
            </a>
        </div>
        <div class="col-sm-2 align-self-center">
            <a asp-controller="Modules" asp-action="Details" asp-route-id="@item.Id">
                <img id="info-module-icon" class="icon-img" src="~/icons/info_black.svg" />
            </a>
        </div>
    </div>

   @* <div class="row row-module-btn-icons">
        <div class="col-sm-10">
            <a asp-controller="Documents" asp-action="UploadModuleDoc" asp-route-id="@item.Id">
                <img class="icon-img" src="~/icons/share.svg" />
            </a>
            <a asp-controller="Modules" asp-action="Edit" asp-route-id="@item.Id">
                <img class="icon-img" src="~/icons/edit.svg" />
            </a>
            <a asp-controller="Modules" asp-action="Delete" asp-route-id="@item.Id">
                <img class="icon-img" src="~/icons/delete.svg" />
            </a>
        </div>
        <div class="col-sm-2">
        </div>
    </div>*@
}



















