@model Lexicon_LMS.Core.Entities.Module

@{ Layout = null; }

<div id="tst">
    <dl class="row" >
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ModulName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModulName)
        </dd>
        <dt class = "col-sm-´4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>