@model IEnumerable<Module>

@{
    ViewData["Title"] = "Index";
}
@foreach (var item in Model) {
<h1>   @Html.DisplayFor(modelItem => item.Course.CourseName)</h1>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
  
@foreach (var item in Model) {
  
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <b> Modul{@item.Id}:  @item.ModulName</b>
      </button>
    </h2>
    </div>

    <div id="collapseOne" class="accordion-collapse collapse show " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
           <dl class="row">
       
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => item.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => item.EndDate)
        </dd>
           <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => item.Description)
        </dd>
    </dl>
    <div>
    <a asp-action="Edit" asp-route-id="@item?.Id">Edit</a> 
</div>
          


      </div>
    </div>    
    </div>
 
 
  }
  <p>
     <a asp-action="Index">Back to List</a>
  </p>

