@model IEnumerable<Activity>

@{
    ViewData["Title"] = "Index";
}


<p>
    <button class="btn btn-success" asp-action="Create">Add New Activity</button>
</p>
<div class="accordion" id="accordionExample">
         <div class="panel-group" id="accordionY">
            @{int ij = 1;}
            
   @foreach (var item in Model) {
           <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@ij" aria-expanded="false"  aria-controls="collapseOne">

    <b  runat="server"> Module @item.Id:  @item.Module.ModulName  </b>
      </button>
    </h2>
    </div>

    <div id="collapse_@ij" class="accordion-collapse collapse  " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var input in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => input.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => input.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => input.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => input.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => input.ActivityType.ActivityTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.Id)
            </td>
         
        </tr>
}
    </tbody>
</table>

    <div>
    <a asp-action="Edit" asp-route-id="@item?.Id">Edit</a> 
</div>
          
</div>
 
      </div> ij++;}  
    </div>    
    </div>
 



