@model IEnumerable<ActivityListViewModel>

@{
    ViewData["Title"] = "Index";
}
                     <!----------Navigationbar------->
  <div class="row form-group rounded bg-light border" >
    <div style="text-align:center;" class="col-xs-2 col-sm-2 col-lg-2">
        <div class="d-grid gap-2 col-6 mx-auto">
            <h2 class=" text-center mt-4">Modules</h2>
              @foreach (var item in Model)
        {
  <button class="btn btn-info rounded-4" type="button">
      <b runat="server">   @item.ModuleModulName  </b>

  </button>
        }
</div>



    </div>
                <!----------endNavigationbar&StartContent------->

    <div style="background-color:lightgrey; text-align:center;" class="col-xs-10 col-sm-10 col-lg-10">

<p>
    <a class="btn btn-success" asp-action="Create">Add New Activity</a>
</p>
<div class="accordion" id="accordionExample">
    <div class="panel-group" id="accordionY">
        @{
            int ij = 1;
        }

        @foreach (var item in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@ij" aria-expanded="false" aria-controls="collapseOne">

                        <b runat="server"> Module @item.Id:  @item.ModuleModulName  </b>
                    </button>
                </h2>
            </div>

            <div id="collapse_@ij" class="accordion-collapse collapse  " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ActivityName)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ActivityTypeActivityTypeName)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var input in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => input.ActivityName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => input.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => input.EndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => input.ActivityTypeActivityTypeName)
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>

                    <div>
                        <a asp-action="Edit" asp-route-id="@item?.Id">Edit</a>
                    </div>

                </div>

            </div>
            ij++;
        }
    </div>
</div>

</div>
  </div>
